@mixin fonts {
  --regular-font: "Regular", Helvetica Neue, Helvetica, Arial, sans-serif;
  --bold-font: "Bold", Helvetica Neue, Helvetica, Arial, sans-serif;
  --icon-font: "Icons", sans-serif;
}

:root {
  @include fonts();
}
